{:deps
 {io.github.clojure/tools.build {:git/tag "v0.5.1" :git/sha "21da7d4"}
  io.github.seancorfield/build-uber-log4j2-handler {:git/tag "v0.1.0" :git/sha "ab8e499"}
  slipset/deps-deploy {:mvn/version "0.2.0"}}}
