{:deps
 {io.github.clojure/tools.build {:git/tag "v0.5.0" :git/sha "7d77952"}
  io.github.seancorfield/build-uber-log4j2-handler {:git/tag "v0.1.0" :git/sha "ab8e499"}
  io.github.slipset/deps-deploy {:sha "b4359c5d67ca002d9ed0c4b41b710d7e5a82e3bf"}}}
