{:deps
 {io.github.clojure/tools.build {:git/tag "v0.7.5" :git/sha "34727f7"}
  io.github.seancorfield/build-uber-log4j2-handler {:git/tag "v0.1.5" :git/sha "55fb6f6"}
  slipset/deps-deploy {:mvn/version "0.2.0"}}}
