{:deps
 {io.github.seancorfield/build-clj-slim {:local/root "../"
                                         :exclusions [slipset/deps-deploy]}
  io.github.clojure/tools.build {:git/tag "v0.7.2" :git/sha "0361dde"}
  io.github.seancorfield/build-uber-log4j2-handler {:git/tag "v0.1.1" :git/sha "7b93e5b"}}}
